<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775781442918-trlrk1o6rc50jm7fjbb254m5huumkhls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775781442918-trlrk1o6rc50jm7fjbb254m5huumkhls</string>
	<key>API_KEY</key>
	<string>AIzaSyDAmQ5RhGApqqXM2pDXRrGkIW7zWW60c58</string>
	<key>GCM_SENDER_ID</key>
	<string>775781442918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.tannakaken.infinitenion-ios</string>
	<key>PROJECT_ID</key>
	<string>infinitenion</string>
	<key>STORAGE_BUCKET</key>
	<string>infinitenion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775781442918:ios:1991bacd0cfaa8e33a94a7</string>
	<key>DATABASE_URL</key>
	<string>https://infinitenion.firebaseio.com</string>
</dict>
</plist>